<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title></title>
</head>

<body>
	<!-- ---Header--- -->
	<footer class="footer mt-3 pb-3" th:fragment="footer">
		<div class="container">
			<div class="footer-info row">
				<div class="logo-box col-md-2 col-sm-12 pt-3">
					<div class="logo">
						nongsan<span>.com</span>
					</div>
				</div>

				<div class="contact col-md-6 col-sm-12 pt-3">
					<p class="contact-text">công ty cổ phần nongsan</p>
					<p>
						<strong>Điện thoại: </strong>012 345 6789
					</p>
					<p>
						<strong>Email: </strong>nongsan@gmail.com
					</p>
					<p>
						<strong>Văn phòng: </strong>19 Nguyễn Hữu Thọ, P.Tân Phong, Q.7,
						HCM
					</p>
				</div>

				<div class="social col-md-4 col-sm-12 pt-3">
					<p class="social-text">Kết nối với chúng tôi</p>
					<div class="social-icon">
						<i class="fab fa-facebook px-3"></i> <i
							class="fab fa-youtube px-3"></i> <i class="fab fa-instagram px-3"></i>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>