<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
<script
	src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;500;600;700&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="/css/nghi.css">
<link rel="stylesheet" href="/css/fragment.css">
<title>Chi tiết sản phẩm</title>
</head>

<body>
	<header th:replace="fragment/header :: header-staff"></header>


	<div id="product" style="min-height: calc(100vh - 66px - 199px);">
		<div class="container">
			<div class="row">
				<div class="col-lg-6" style="text-align: center">
					<img class="mainImg" th:src="${product.image}" alt="" />
				</div>
				<div class="col-lg-6 desc">
					<a th:href="@{/storehouse}">Quản lý sản phẩm</a> / <a style="font-size: 20px; font-weight: bold;"
						th:href="@{'/products/' + ${product.category.id}}"
						th:text="${product.category.name}"></a>
					<div class="my-3">
						<h2 class="font-weight-bold" th:text="${product.title}"></h2>
					</div>
					<!-- <hr /> -->
					<span class="font-weight-bold"
						th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + đ"></span>
					<p th:utext="${product.description}"></p>
				</div>
			</div>
		</div>
	</div>

	<!-- <table class="table table-hover">
			<thead>
				<tr>
					<th>Id</th>
					<th>Hình ảnh</th>
					<th>Tên sản phẩm</th>
					<th>Giá</th>
					<th>Mô tả</th>
					<th>Số lượng</th>
					<th>Danh mục</th>
				</tr>
			</thead>
			<tbody>
				<tr>
						<td th:text="${product.id}"></td>
						<td><img th:src="${product.image}" alt="" width="40px"></td>
						<td th:text="${product.title}"></td>
						<td th:text="${product.price}"></td>
						<td th:utext="${product.description}"></td>
						<td th:text="${product.quantity}"></td>
						<td th:text="${product.category.name}"></td>
					</tr>
			</tbody>
		</table> -->

	<footer th:replace="fragment/footer :: footer"></footer>
</body>

</html>