<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Trang chủ</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@400;500;600;700&display=swap"
	rel="stylesheet">
<link href="/css/duy.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/css/fragment.css">


<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body>
	<header th:replace="fragment/header :: header(${cartTotalQuantity})"></header>

	<section class="slider-wrap">
		<div class="container-fluid">
			<div class="row align-items-start flex-wrap">
				<div id="category" class="category col-12 col-md-2 px-0 pl-3">
					<ul class="list-group" th:each="category : ${listCategory}">
						<li class="category-item list-group-item"><a
							th:utext="${category.name} + '<span>></span>'"
							th:href="@{'/products/' + ${category.id}}"></a></li>
					</ul>
				</div>
				<div class="slider col-12 col-md-8 mx-0">
					<div id="slide" class="carousel slide" data-ride="carousel">
						<!-- Indicators -->
						<ul class="carousel-indicators">
							<li data-target="#slide" data-slide-to="0" class="active"></li>
							<li data-target="#slide" data-slide-to="1"></li>
							<li data-target="#slide" data-slide-to="2"></li>
						</ul>
						<!-- The slideshow -->
						<div class="carousel-inner">
							<div class="slide-image carousel-item active">
								<img src="images/slide1.jpg" alt="" width="1100" height="500">
							</div>
							<div class="slide-image carousel-item">
								<img src="images/slide2.jpg" alt="" width="1100" height="500">
							</div>
							<div class="slide-image carousel-item">
								<img src="images/slide3.jpg" alt="" width="1100" height="500">
							</div>
						</div>
						<!-- Left and right controls -->
						<a class="carousel-control-prev" href="#slide" data-slide="prev">
							<span class="carousel-control-prev-icon"></span>
						</a> <a class="carousel-control-next" href="#slide" data-slide="next">
							<span class="carousel-control-next-icon"></span>
						</a>
					</div>
				</div>
				<div class="event col-12 col-md-2 bg-white">
					<div id="event-img" class="image--shadow w-100 border rounded my-3">
						<img src="images/ca-chua.jpg" alt="">
					</div>
					<h4 class="event-title">SIÊU QUÀ NÔNG SẢN: 100% TRÚNG QUÀ</h4>
					<p class="event-text my-3">Mua nông sản rước xe Vespa, Iphone
						14 Pro Max!!!</p>
				</div>
			</div>
		</div>
	</section>

	<section class="product">
		<div class="container">
			<h3 class="title col-12 px-0 text-success mt-5 pb-2">Deal Online
				ngẫu nhiên</h3>
			<div id="deal-row" class="row g-5">
				<div class="product-item mb-5 col-lg-3 col-sm-6"
					th:each="product : ${randomProductsOne}">
					<div class="h-100 card">
						<div class="product-item-image  ">
							<a th:href="@{'/product/' + ${product.id}}"> <img
								th:src="${product.image}" alt="">
							</a>
						</div>
						<div class="product-title card-body d-flex flex-column">
							<a class="text-decoration-none"
								th:href="@{'/product/' + ${product.id}}">
								<h3 class="product-item-name" th:text="${product.title}"></h3>
							</a> <span class="product-item-price d-block mt-auto"
								th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + đ"></span>
							<a th:href="@{'/cart/add/' + ${product.id}}" class="product-item-buy">Thêm vào giỏ</a>
						</div>
					</div>
				</div>
			</div>

			<div class="promotion">
				<h3 class="title col-12 px-0 text-success pb-2">Khuyến mại ngẫu
					nhiên</h3>
				<div id="promotion-row" class="row">
					<div class="product-item mb-5 col-lg-3 col-sm-6"
						th:each="product : ${randomProductsTwo}">
						<div class="h-100 card">
							<div class="product-item-image  ">
								<a th:href="@{'/product/' + ${product.id}}"> <img
									th:src="${product.image}" alt="">
								</a>
							</div>
							<div class="product-title card-body d-flex flex-column">
								<a class="text-decoration-none"
									th:href="@{'/product/' + ${product.id}}">
									<h3 class="product-item-name" th:text="${product.title}"></h3>
								</a> <span class="product-item-price d-block mt-auto"
									th:text="${#numbers.formatDecimal(product.price, 0, 'COMMA', 0, 'POINT')} + đ"></span>
								<a th:href="@{'/cart/add/' + ${product.id}}" class="product-item-buy">Thêm vào giỏ</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<footer th:replace="fragment/footer :: footer"></footer>

</body>

</html>