<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Register</title>
<link rel="stylesheet" href="/css/login.css" />
</head>
<body>
	<div class="wrapper fadeInDown">
		<h1 class="title">WELCOME</h1>
		<div id="formContent">
			<div class="form_wrap">
				<form class="form active" th:action="@{/register-save}"
					th:object="${user}" method="post">
					<img class="icon" src="./img/user.png" alt="" /> <input
						type="text" class="fadeIn second" th:field="*{fullname}"
						placeholder="Họ tên" /> <small style="color: red; display: block"
						th:if="${#fields.hasErrors('fullname')}" th:errors="*{fullname}"></small>
					<input type="email" class="fadeIn second" th:field="*{email}"
						placeholder="Email" /> <small style="color: red; display: block"
						th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>
						<small style="color: red; display: block"
						th:text="${emailExistsError}"></small>
					<input type="tel" class="fadeIn second" th:field="*{phone}"
						placeholder="Số điện thoại" /> <small
						style="color: red; display: block"
						th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>
					<input type="text" class="fadeIn second" th:field="*{address}"
						placeholder="Địa chỉ" /> <small
						style="color: red; display: block"
						th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></small>
					<input type="password" class="fadeIn third" th:field="*{password}"
						placeholder="Mật khẩu" /> <small
						style="color: red; display: block"
						th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></small>
					<input type="password" class="fadeIn third"
						placeholder="Nhập lại mật khẩu" name="confirmPassword" /> <small
						style="color: red; display: block" th:text="${confirmPassError}"></small>
					<div style="padding-top: 2%">
						<small>Đã có tài khoản? <a th:href="@{/login}">Đăng nhập</a></small>
					</div>
					<button class="submit">Đăng ký</button>
				</form>
			</div>

			<!-- Remind Passowrd -->
		</div>
	</div>
</body>
</html>
